
.range-knob-handle {
  transition: linear 1s all;
}
.statusbar-gap {
  height: 20px !important;
  ion-toolbar {
    height: 20px !important;
    min-height: 0px !important;
    padding-top: 0px !important;
    .toolbar-background {
      -webkit-backdrop-filter: blur(20px);
      background-color: rgba(255,255,255, .2);
      height: 20px;
    }
  }
}
.opaque {
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}
.home {
    ion-toolbar {
      .toolbar-background {
        background: transparent;
        // background-color: rgba(255,255,255,.3);
      }

  }
  scroll-content {
    overflow-y: hidden;
  }
  ion-card {
    overflow-y: scroll;
    margin-top: 3px;
    transition: ease  height .3s;
  }
}
.opaque .toolbar-background {
  // background-color: rgba(#f8f8f8, 0.55);
}
ion-footer.home.outer-footer {
  background-color: rgba(255,255,255,.5);
  background-size:150%;
  background-position: center;
}
.home {
  background-size: 200% !important;
  background-position: center !important;
  scroll-content {
    backdrop-filter: saturate(180%) blur(20px);
    background: rgba(255,255,255,.5);
  }
  .time-text {
    width: 4.5ch;
    color: #3D81F2;
    font-size: 10pt;
    white-space: nowrap;
    display: none;
  }
  .playing-in-list {
    background-color: #eee !important;
    font-weight: bold;
    h3 {
      font-weight: bold;
    }
  }
  background: #f8f8f8;
  button.item {
    background: transparent;
    // color: white;
    p {
      // color: #ccc;
    }
  }
  .blank-space {
    padding-top: 12px;
    background: transparent;
  }
    .inner-footer {
      background: rgba(255,255,255,.3);
      backdrop-filter: saturate(180%) blur(20px);
      .current-track {
        margin-top: -4px;

      }
      .make-big-button {
        padding-bottom: 100px;
        margin-bottom: -100px;
        padding-top: 40px;
        margin-top: -40px;
      }
      .item-range {
        min-height: 0;
        padding-left: 0;
        overflow: visible;
        #buffer {
          background-color: #ddd;
          margin-top: 0;
        }
        .item-inner {
          padding-right: 0;
          height: 4px;
          .range-slider {
            // height: 4px;
          }
          .range-knob-handle {
            // display: none;
            z-index: 2;
            .range-knob {
              background: rgb(61,129,242);
            };
          }
          .range-bar:not(.range-bar-active) {
            background: transparent;
          }
          .range-bar {
            height: 4px;
            margin-top: -2px;
            transition: linear 1s all;
          }
        }
      }

      ion-item {
        background: transparent;
        // color: #fff;
        ion-label {
          margin-right: 0px;
          p, h2 {
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }


        .placeholder-art {
          font-size: 40pt;
          text-align: center;
          transform: translateX(-50%);
          left: 50%;
          // top: 50%;
          // transform: translateY(-50%);
          position: relative;
          display: block;
          width: 56px;
          height: 56px;
          color: #999;
        }
        p {
          // color: #ddd;
        }
        [item-right] {
          // color: white;
          margin: 0 -2px;
          font-size: 12pt;
        }
      }

  }
}
